<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="user-wrapper">
            <div class="profile-image">
              <img src="/portal/images/faces/face1.jpg" alt="profile image">
            </div>
            <div class="text-wrapper">
              <p class="profile-name"><%=name%></p>
              <div>
                <small class="designation text-muted">
                 
                    Moderator
                  
                </small>
                <span class="status-indicator online"></span>
              </div>
            </div>
          </div>
          <!-- <button class="btn btn-success btn-block">New Report -->
          <a href="home/content/add" class="btn btn-success btn-block" role="button">+ New Content</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home/user">
          <i class="menu-icon mdi mdi-television"></i>
          <span class="menu-title">Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-content-copy"></i>
          <span class="menu-title">Contents</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="home/content">Active Contents</a>
            </li>
            
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="home/request">
            <i class="menu-icon mdi mdi-table"></i>
            <span class="menu-title">Requests</span>
          </a>
        </li>
      </li>
    </ul>
  </nav>