
  <div class="card">
        <div class="card-body">
          <h4 class="card-title">Requests</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Requested Content</th>
                  <th>Category</th>
                  <th>Sender</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0 ; i < requestList.length; i++){ %>
                <tr>
                  <td><%= requestList[i].name%></td>
                  <td>
                      <% for(var j = 0; j < categoryList.length; j++){ %>
                        <% if(categoryList[j].id == requestList[i].category){ %>
                        <%= categoryList[j].name %>
                      <% }} %>
                  </td>
                  <td><%= requestList[i].email%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>